#jumbo2{
    border-radius: 10px;
    border: 1px solid lightgray;
    color: black;
    height: 300px;
}

#forecastDiv{
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px;
}

#header{
    background-color: rgb(58, 56, 56);
    color: floralwhite;
    text-align: center;
}

h1{
    margin-left: 10px;
    margin-top: 20px;
}

p{
    margin-left: 10px;
    margin-top: 10px;  
}

h5{
    padding: 8px;
}
/* .container {
    padding-left: 15px;
    padding-right: 15px;
    width:100%;
 } */





