body{
    background-image: url('./img/background.jpg');
}

#jumbo2{
    border-radius: 10px;
    color: floralwhite;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#forecastDiv{
    height: 200px;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header{
    color: floralwhite;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    margin-left: 10px;
    margin-top: 20px;
}

p{
    margin-left: 10px;
    margin-top: 10px;  
    color: floralwhite;
}

h5{
    padding: 8px;
    color: floralwhite;
}

#spanIndex{
    padding: 5px;
}







